# Backend API base URL
# Développement: http://localhost:8182/api/
# Production: http://10.100.3.200:8081/api/
VITE_API_BASE_URL=http://10.100.3.200:8081/api/      

# Nom de l'application (optionnel)
VITE_APP_NAME=DLMS React

# Si le backend requiert un cookie CSRF (Sanctum): URL pour initialiser le cookie
# VITE_CSRF_URL=/sanctum/csrf-cookie
 